<article class= "post">
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title"><a href="/post/{{id}}" target="_blank">{{title}}</a></p>
        <p class="subtitle">    
          Posted by
         {{User.username}}
          on
        {{format_date created_at}}
        
        </p>
  <div class="content">
          <!-- Content -->
      <div class="text">
        {{post_text}}
      </div>
      </div>

      {{#if loggedIn}}
  <div class="tile is-child box">
      <p class="title">Comments</p>
      <p> <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "Comment" comments.length}}</a></p>
   
   {{/if}}
</article>